:root{
    --main--light--color:#ffffff;
    --main--dark--color:#262626;
    --main--red--color:#E74646;
    --main--light-red--color:#FA9884;
    --main--red-pale--color:#FFE5CA;
    --main--pale--color:#FFF3E2;
    --main--light-blue--color:#01FFE1;
}